.app-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coin-container {
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.heading {
  font-size: 34px;
  color: #a35200;
  font-family: 'roboto';
  font-weight: 600;
}
.heads-tails {
  font-size: 18px;
  color: #334155;
  font-weight: 500;
  font-family: 'roboto';
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head-image {
  width: 140px;
  height: 140px;
}
.toss-button {
  width: 100px;
  height: 30px;
  color: #a35200;
  background-color: #e2a139;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'roboto';
  margin-top: 20px;
}
.results-container {
  display: flex;
  margin: 20px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .results-container {
    display: flex;
    flex-direction: row;
  }
}
.description-para {
  font-size: 18px;
  font-family: 'roboto';
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .description-para {
    padding: 20px;
  }
}
